<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d02e0033-b0a6-4d68-b01b-c14d7a24a3c0/resourcegroups/Si220/providers/Microsoft.Web/sites/WebPeopleMatias</ResourceId>
    <ResourceGroup>Si220</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webpeoplematias.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5e2a3852-074a-4e3c-8a48-0e9239576068</ProjectGuid>
    <PublishUrl>https://webpeoplematias.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebPeopleMatias</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>